.weather-finder {
  box-shadow: inset -2px 0px 20px 0px #666262;
  background-color: #77bcee;
  color: #ebf5fc;
  text-align: center;
}

.weather-finder form {
  padding: 35px 5px;
}

.weather-finder form input {
  width: 65%;
  padding: 10px;
  border: 0;
  background: linear-gradient(#ebf5fc, #ebf5fc) center bottom 5px / calc(100% - 10px) 1px no-repeat;
  background-color: #77bcee;
  color: #ebf5fc;
  text-align: center;
}

::placeholder {
  color: #ebf5fc;
}

.searchButton {
  width: 20px;
  margin-left: 5px;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .weather-finder {
    width: 40%;
    height: 100vh;
  }

  .weather-finder form {
    padding: 25% 4% 0 4%;
  }
}
