.weather-info__forecast-view {
  width: 60%;
  padding: 5%;
}

.heading-currently-temperatures,
.weather-info--bottom {
  margin-top: 10%;
}

.weather-info--top h1 {
  font-size: 58px;
  font-weight: 700;
}

.weather-info--middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical-line {
  width: 2px;
  height: 50px;
  background-color: #e6e6e6;
}

.weather-info__forecast-view h2 {
  font-size: 10px;
  font-weight: 500;
  color: #c7c7c7;
}

.weather-info--middle .weather-info__temperatures p {
  font-size: 54px;
  font-weight: 700;
}

.weather-info--middle .weather-info__description p {
  font-size: 20px;
  color: #c7c7c7;
}

.weather-info--middle .weather-info__img {
  width: 30%;
}

.weather-info--bottom {
  display: flex;
  justify-content: space-between;
}

.weather-info--bottom span {
  font-size: 36px;
  font-weight: 500;
}

.weather-info__chart-wrapper {
  margin-top: 10%;
}

.info-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.info-error .error-wrapper {
  text-align: center;
}

.info-error img {
  width: 30%;
  margin-bottom: 5%;
}

.info-error h1 {
  font-size: 28px;
}
