body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

.weather-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

@media (min-width: 768px) {
  .weather-info {
    flex-direction: row;
  }
}
